/* цвет основного текста #757575
/* вторичный цвет текста #212121
/* акцент #2196F3
/* цвет текста адресса футера rgba(255,255,255,0.6);*/

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);
  --bg-dark-color: #2f303a;
  --bg-gradient-color: rgba(47, 48, 58, 0.4);
  --primary-bg-color: #ffffff;
  --white-color: #ffffff;
  --filter-btn: #f5f4fa;
  --padding-section: 94px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;

  padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  /* outline: 2px solid orange; */
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ============ HEADER ========== */
.page-header {
  background-color: var(--white-color);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;

  position: fixed;
  width: 100vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  /* background-color: rgb(145, 226, 226); */
}

.header {
  display: flex;
  align-items: center;
}

/* ============ LOGO ========== */
.logo-black,
.logo-white,
.logo-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: #000000;
  margin-right: 93px;
}

.logo-white {
  color: var(--white-color);
}

.logo-web {
  color: var(--accent-color);
}
/* ============ END LOGO ========== */

/* ============ NAV ========== */
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link,
.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  top: 45px;
  content: "";
  width: 100%;
  padding: 2px 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current,
.nav-list-link:hover,
.nav-list-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* ============ END NAV ========== */

/* ============ END HEADER ========== */

/* ============ HERO ========== */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  padding-left: 252px;
  padding-right: 252px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
  margin-bottom: 30px;
}

.bg-hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-dark-color);
  background-image: linear-gradient(
      to right,
      var(--bg-gradient-color),
      var(--bg-gradient-color)
    ),
    url("../images/bg-hero.jpg");
}

.button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* ============ END HERO ========== */

/* ============ SECTION TITLE ========== */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
/* ============ END SECTION TITLE ========== */

/* ============ FEATURES ========== */
.features {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);

  /* background-color: rgb(145, 226, 226); */
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -30px;
  margin-top: -30px; */
  margin: -15px;
}

.features-list-item {
  /* margin-left: 30px;
  margin-top: 30px; */
  margin: 15px;
  flex-basis: calc((100% / 4 - 30px));

  /* outline: 3px solid tomato; */
}

.features-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  /* outline: 5px solid green; */
}

.features-icon {
  /* outline: 1px solid green; */
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-descript {
  line-height: 1.71;
}

/* .features-list-item::before {
  content: "";
  display: block;
  padding: 60px 135px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;

  outline: 1px solid green;
} */

/* .antenna::before {
  background-image: url("../images/main/features/antenna.svg");
}

.astronaut::before {
  background-image: url("../images/main/features/astronaut.svg");
}

.clock::before {
  background-image: url("../images/main/features/clock.svg");
}

.diagram::before {
  background-image: url("../images/main/features/diagram.svg");
} */

/* ============ END FEATURES ========== */

/* ============ WORK ========== */
.work {
  padding-bottom: var(--padding-section);

  /* background-color: tomato; */
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -30px;
  margin-top: -30px; */
  margin: -15px;

  /* justify-content: space-between; */
}

.work-list-item {
  /* margin-left: 30px;
  margin-top: 30px; */
  margin: 15px;
  flex-basis: calc((100% / 3 - 30px));
}

.work-thumb {
  position: relative;
}

.work-thumb-title {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 27px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* ============ END WORK ========== */

/* ============ TEAM ========== */
.team {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  /* margin-left: -30px;
  margin-top: -30px; */
  /* justify-content: space-between; */
}

.team-list-item {
  /* margin-left: 30px;
  margin-top: 30px; */
  margin: 15px;
  flex-basis: calc(100% / 4 - 30px);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /* outline: 1px solid green; */
}

.thumb-img {
  max-width: 100%;
}

.team-name-container {
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-member-name,
.team-member-post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member-name {
  font-weight: 500;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-member-post {
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: #fff;
}
.social-link-icon {
  fill: currentColor;
}

/* ============ END TEAM ========== */

/* ============ CLIENTS ========== */
.clients {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* outline: 1px solid green; */
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}
/* ============ END CLIENTS ========== */

/* ============ FOOTER ========== */
.footer {
  background-color: var(--bg-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  display: flex;
}

.footer-logo {
  min-width: 231px;
}
.address {
  margin-top: 20px;
  line-height: 1.71;
}
.address-link {
  color: var(--white-color);
}

.address-contacts {
  color: var(--address-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.social-footer {
  padding-top: 12px;
  margin-left: 70px;
  min-width: 206px;
}

.social-footer-title {
  color: #fff;
  margin-bottom: 20px;
}

.social-footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
  color: #fff;
}

/* ============ END FOOTER ========== */

/* ============ MODAL ========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-icon {
  fill: #000000;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ============ END MODAL ========== */

/* ========== PORTFOLIO PAGE ========== */
.examples {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--filter-btn);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -30px;
  margin-top: -30px; */
  margin: -15px;
}

.example-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.example-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-list-link:hover .overlay-description,
.example-list-link:focus .overlay-description {
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list-link:hover,
.example-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list-item {
  /* margin-left: 30px;
  margin-top: 30px; */
  margin: 15px;
  flex-basis: calc((100% / 3) - 30px);
}

.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  /* margin-top: 20px; */
  margin-bottom: 4px;
}

.examples-descript {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/* ========== END PORTFOLIO PAGE ========== */
