.footer {
  background-color: var(--bg-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  min-width: 231px;
}
.address {
  margin-top: 20px;
  line-height: 1.71;
}
.address-link {
  color: var(--white-color);
}

.address-contacts {
  color: var(--address-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.social-footer {
  margin-left: 70px;
  min-width: 206px;
}

.social-footer-title {
  color: #fff;
  margin-bottom: 20px;
}

.social-footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;

  transition: background-color 250ms var(--time-function);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.subscriber {
  margin-left: auto;
}

.subscriber-form {
  display: flex;
  align-items: center;
}

.footer-email {
  display: block;
  width: 358px;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  /* display: flex; */
  /* align-items: center; */

  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: flex;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  fill: currentColor;
}
