.footer {
  background-color: var(--bg-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--title-text-color);
    color: #fff;
    margin-bottom: 20px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  margin-top: 20px;
  line-height: 1.71;

  &__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__link {
    color: var(--white-color);
  }

  &__contacts {
    color: var(--address-color);
  }
}

.social {
  &__wrapper {
    margin-top: 60px;
    min-width: 206px;
  }
}

.subscriber {
  margin-top: 60px;

  &__input {
    display: block;
    width: 290px;
    padding: 14px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
  }

  &__btn {
    padding: 10px 28px 10px 29px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: #ffffff;
    background-color: var(--accent-color);
  }

  &__btn-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin-left: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 480px) {
  .subscriber__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .social__wrapper {
    margin-top: 0;
  }

  .footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
  }

  .address {
    &__thumb {
      min-width: 231px;
    }
  }

  .social__wrapper {
    margin-left: 70px;
  }

  .subscriber {
    margin-top: 0;
    margin-left: auto;

    &__form {
      display: flex;
      align-items: center;
    }

    &__input {
      width: 358px;
      margin-bottom: 0;
    }

    &__btn {
      margin-left: 12px;
    }
  }

  .footer {
    text-align: start;
  }
}
