.nav {
  margin-left: 88px;
  margin-right: auto;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    color: var(--title-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.nav__link,
.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-function);
}

.contact__link {
  font-size: 12px;
}

.contact__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact__link {
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__icon--email,
.contact__icon--tel {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: -35px;
    content: "";
    width: 100%;
    padding: 2px 0;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }

  .contact__list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .contact__item {
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0px;
    }
  }

  .current::after {
    bottom: -30px;
  }
}

// .contact__list {
//   display: flex;
//   margin-left: auto;
// }

// .contact__item {
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .contact__link {
//   color: var(--primary-text-color);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .contact__icon--email {
//   width: 16px;
//   height: 12px;
//   fill: currentColor;
//   margin-right: 10px;
// }

// .contact__icon--tel {
//   width: 10px;
//   height: 16px;
//   fill: currentColor;
//   margin-right: 10px;
// }

// .current {
//   position: relative;
//   color: var(--accent-color);

//   &::after {
//     position: absolute;
//     top: 45px;
//     content: "";
//     width: 100%;
//     padding: 2px 0;
//     background-color: var(--accent-color);
//     border-radius: 2px;
//   }
// }

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }

  .contact__list {
    display: none;
  }
}
