.work {
  padding-bottom: var(--padding-section);

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    margin: 15px;
    flex-basis: calc((100% / 3 - 30px));
  }

  &__thumb {
    position: relative;
  }

  &__title {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 27px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
