.button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
