.mobile-menu {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100%;

  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  padding: 48px 40px;
  background-color: var(--primary-bg-color);
  // background-color: transparent;

  opacity: 0;
  pointer-events: none;

  transform: translate(-50%, -100%);
  transition: transform 250ms var(--time-function),
    opacity 250ms var(--time-function);
}

.mobile-menu.is-open {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: all;
}

.mobile-menu__button {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #000000;

  transition: color 250ms var(--time-function);
  // outline: 1px solid orangered;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  &_current {
    color: var(--accent-color);
  }
}

.mobile-contact__list {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mobile-contact__link-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.mobile-social__list {
  display: flex;
  // flex-wrap: wrap;
}

.mobile-social__item {
  padding-right: 10px;

  &:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
