.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__icon-wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
  margin-top: 4px;
}

.form__input {
  outline: none;
  padding: 11px 12px 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms var(--time-function);

  &:focus {
    border-color: var(--accent-color);
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill 250ms var(--time-function);

  .form__input:focus + & {
    fill: var(--accent-color);
  }
}

.form__area {
  outline: none;
  resize: none;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  transition: border-color 250ms var(--time-function);

  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form__label_policy {
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    cursor: pointer;
    margin-right: 8px;
    background-color: #fff;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;

    transition: background-color 250ms var(--time-function),
      border 250ms var(--time-function);

    .user-policy:checked + & {
      background-color: var(--accent-color);
      background-image: url("../images/main/svg/term-on.svg");
      background-position: center;
      background-size: contain;
      background-origin: border-box;
      border: 2px solid var(--accent-color);
      border-radius: 2px;
      fill: #fff;
    }

    .user-policy:focus + &,
    .user-policy:checked:focus + & {
      box-shadow: 0 0 0 1px var(--title-text-color);
      border-radius: 2px;
    }
  }
}

.form__btn {
  align-self: center;
  padding: 10px 55px 10px 56px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  transition: background-color 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}

.form__link_terms {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .form__label_policy {
    font-size: 14px;
    line-height: 1.71;
  }
}
