.page-header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
}

.page-header__burger {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }

  .contact__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-header__burger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

// .page-header {
// position: fixed;
// z-index: 100;
// width: 100vw;
// top: 0;
// left: 50%;
// transform: translateX(-50%);

// padding-top: 24px;
// padding-bottom: 24px;
// background-color: var(--white-color);
// }
