.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: background-color 250ms var(--time-function),
    color 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #fff;
  }

  &_footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}

.social__icon {
  fill: currentColor;
}
