:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --btn-hover-color: #188ce8;
  --address-color: rgba(255, 255, 255, 0.6);
  --bg-dark-color: #2f303a;
  --bg-gradient-color: rgba(47, 48, 58, 0.4);
  --primary-bg-color: #ffffff;
  --white-color: #ffffff;
  --filter-btn: #f5f4fa;
  --padding-section: 94px;
  --padding-section-mobile: 60px;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
